@media screen and (max-width: 600px){


    /*===Nar bar===*/

    .navbar .navbar__right .navbar__right-list li:nth-child(1){
        display: none;
    }

    .navbar .navbar__right .navbar__right-list li:nth-child(2){
            display: none;
    }

    .navbar .navbar__right .navbar__right-list li:nth-child(3){
            display: none;
    }

    .navbar .navbar__right .navbar__right-list li:nth-child(4){
            display: none;
    }

    .navbar .navbar__right .navbar__right-list li:nth-child(5){
            display: block;
    }


    /*=== hero section===*/

    .h-section{
        flex-direction: column;
    }

    .h-section .h-section__left h2{
        text-align: center;
       font-size: 30px;
       width: 100%;
       font-weight: 800;
    }

    .h-section .h-section__left p{
        margin-top: 20px;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
    }

    .h-section .h-section__left button{
        display: block;
        width: 100%;
        margin: 20px auto;
    }



    /*=====Companies section======*/

    .c-section{
        margin-top: 120px;
    }

    .c-section .c-section__img{
        width: 100%;
        height: 35px;
    }

    .c-section .c-section__text{
        font-size: 12px;
    }


/*=====Branding section======*/

.b-section{
    flex-direction:column ;
}

.b-section .b-section__right h2{
    text-align: center;
    font-size: 32px;
}

.b-section .b-section__right p{
    font-size: 12px;
}

.b-section .b-section__right i.desktop{
    display: none;
}

.b-section .b-section__right i.mobile{
    display: block;
    text-align: center;
}



}


